.u-section-1 .u-sheet-1 {
  min-height: 1286px;
}

.u-section-1 .u-shape-1 {
  width: 802px;
  height: 694px;
  background-image: none;
  margin: 408px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 652px;
  height: 744px;
  margin: -920px auto 0 127px;
}

.u-section-1 .u-group-1 {
  width: 621px;
  min-height: 426px;
  background-image: none;
  margin: -145px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.7;
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 320px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px auto 0 0;
  padding: 16px 47px 16px 45px;
}

.u-section-1 .u-group-2 {
  width: 760px;
  min-height: 158px;
  margin: -1137px 0 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-text-4 {
  font-family: 'Fjalla One';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 49px 0 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-1 .u-shape-1 {
    width: 584px;
    margin-top: 414px;
  }

  .u-section-1 .u-image-1 {
    width: 601px;
    margin-left: 51px;
  }

  .u-section-1 .u-group-1 {
    width: 574px;
    min-height: 451px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 273px;
  }

  .u-section-1 .u-group-2 {
    width: 614px;
    min-height: 201px;
    margin-top: -1173px;
    margin-bottom: 75px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-1 .u-shape-1 {
    height: 520px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 461px;
    height: 654px;
    margin-top: -746px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 424px;
    min-height: 503px;
    margin-top: -55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 163px;
  }

  .u-section-1 .u-group-2 {
    width: 494px;
    margin-top: -1216px;
    margin-bottom: 735px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-1 .u-shape-1 {
    height: 481px;
    width: 315px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-image-1 {
    width: 302px;
    height: 474px;
    margin-top: -669px;
  }

  .u-section-1 .u-group-1 {
    width: 302px;
    min-height: 553px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 74px;
  }

  .u-section-1 .u-group-2 {
    min-height: 141px;
    width: 315px;
    margin-top: -1119px;
    margin-bottom: 802px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
  }
}
.u-section-2 {
  background-image: none;
  min-height: 640px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 640px;
  background-image: url('images/ishine-lb/ishine-expert-cleaning.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 285px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 331px;
  height: 10px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 24px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  margin-left: auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 16px 47px 16px 45px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 357px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-4 {
  padding: 25px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 527px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-image-1 {
    min-height: 528px;
    background-position: 73.33% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1007px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    min-height: 809px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 40px;
    padding-left: 50px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 905px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 607px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 680px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 382px;
  }

  .u-section-2 .u-line-1 {
    width: 290px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
  .text-column {
    max-width: 100% !important;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 487px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 91px auto 91px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 306px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 306px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 804px;
}

.u-section-4 .u-text-1 {
  width: 598px;
  font-weight: 400;
  font-family: 'Fjalla One';
  margin: 59px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 516px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 72px;
  height: 72px;
  background-image: url('images/2.jpg');
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -59px 166px 0 92px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-size: 1rem;
  margin: 13px 166px 0 92px;
}

.u-section-4 .u-icon-1 {
  height: 46px;
  width: 46px;
  margin: 20px auto 0 77px;
}

.u-section-4 .u-text-4 {
  margin: -46px 0 0 92px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 72px;
  height: 72px;
  background-image: url('images/4.jpg');
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -59px 166px 0 92px;
}

.u-section-4 .u-text-6 {
  font-weight: 300;
  font-size: 1rem;
  margin: 13px 166px 0 92px;
}

.u-section-4 .u-icon-2 {
  height: 46px;
  width: 46px;
  margin: 20px auto 0 77px;
}

.u-section-4 .u-text-7 {
  margin: -46px 0 0 92px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 72px;
  height: 72px;
  background-image: url('images/3.jpg');
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: -59px 166px 0 92px;
}

.u-section-4 .u-text-9 {
  font-weight: 300;
  font-size: 1rem;
  margin: 13px 166px 0 92px;
}

.u-section-4 .u-icon-3 {
  height: 46px;
  width: 46px;
  margin: 20px auto 0 77px;
}

.u-section-4 .u-text-10 {
  margin: -46px 0 0 92px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 72px;
  height: 72px;
  background-image: url('images/1.jpg');
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: -59px 166px 0 92px;
}

.u-section-4 .u-text-12 {
  font-weight: 300;
  font-size: 1rem;
  margin: 13px 166px 0 92px;
}

.u-section-4 .u-icon-4 {
  height: 46px;
  width: 46px;
  margin: 20px auto 0 77px;
}

.u-section-4 .u-text-13 {
  margin: -46px 0 0 92px;
}

.u-section-4 .u-text-14 {
  width: 275px;
  margin: 30px auto 59px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 72px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -39px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(170, 186, 247) !important;
    margin-left: 72px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -39px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(170, 186, 247) !important;
    margin-left: 72px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -39px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-icon-4 {
    color: rgb(170, 186, 247) !important;
    margin-left: 72px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -39px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 9px;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -34px;
    margin-bottom: -8px;
    margin-left: 22px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 9px;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: -34px;
    margin-bottom: -8px;
    margin-left: 22px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 94px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 9px;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: -34px;
    margin-bottom: -8px;
    margin-left: 22px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 94px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 9px;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: -34px;
    margin-bottom: -8px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-top: -54px;
    margin-left: 88px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
    margin-left: 88px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -41px;
    margin-bottom: 0;
    margin-left: 88px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -54px;
    margin-left: 88px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 16px;
    margin-left: 88px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -41px;
    margin-bottom: 0;
    margin-left: 88px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -54px;
    margin-left: 88px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 16px;
    margin-left: 88px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -41px;
    margin-bottom: 0;
    margin-left: 88px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -54px;
    margin-left: 88px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 16px;
    margin-left: 88px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -41px;
    margin-bottom: 0;
    margin-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -48px;
    margin-left: 84px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 10px;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -39px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -48px;
    margin-left: 84px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 10px;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: -39px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -48px;
    margin-left: 84px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 10px;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: -39px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -48px;
    margin-left: 84px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 10px;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: -39px;
    margin-left: 23px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 944px;
}

.u-section-5 .u-shape-1 {
  width: 638px;
  height: 410px;
  margin: 454px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1011px;
  min-height: 680px;
  margin: -784px auto 22px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 680px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 33px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 69px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-image-1 {
  min-height: 680px;
  background-image: url('images/ishine-lb/ishine-deep-cleaning.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-5 .u-group-1 {
  width: 512px;
  min-height: 286px;
  background-image: none;
  margin: 0 auto 0 -120px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 506px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 871px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-5 .u-group-1 {
    width: 634px;
    margin-left: -242px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-5 .u-shape-1 {
    width: 381px;
    height: 409px;
    margin-top: 60px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 669px;
    min-height: 584px;
    margin-top: -783px;
    margin-bottom: -256px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 705px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 705px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-group-1 {
    width: 495px;
    min-height: 217px;
    margin-top: 451px;
    margin-left: -247px;
  }

  .u-section-5 .u-text-3 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-5 .u-shape-1 {
    width: 437px;
    height: 623px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 432px;
    min-height: 719px;
    margin-top: -1055px;
    margin-bottom: -291px;
    margin-left: 39px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 599px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-group-1 {
    width: 368px;
    min-height: 193px;
    margin-top: 328px;
    margin-left: -39px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1081px;
    margin-top: 15%;
  }

  .u-section-5 .u-shape-1 {
    width: 285px;
    height: 406px;
    margin-top: 54px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 288px;
    min-height: 495px;
    margin-top: -973px;
    margin-left: auto;
    margin-bottom: -472px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-5 .u-image-1 {
    min-height: 473px;
  }

  .u-section-5 .u-group-1 {
    min-height: 165px;
    width: 278px;
    margin-top: 279px;
    margin-left: -26px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-left: -30px;
  }
}
.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 659px;
}

.u-section-6 .u-shape-1 {
  width: 525px;
  height: 483px;
  margin: 60px auto 0 60px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: -519px auto 62px 0;
}

.u-section-6 .u-image-1 {
  min-height: 249px;
  background-image: url('images/ishine-lb/ishine-cleaning-service-1.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  min-height: 249px;
  background-image: url('images/ishine-lb/ishine-cleaning-service-2.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  min-height: 249px;
  background-image: url('images/ishine-lb/ishine-cleaning-service-3.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-4 {
  min-height: 249px;
  background-image: url('images/ishine-lb/ishine-cleaning-service-4.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 511px;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 72px 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  margin: 40px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 28px auto 0 0;
  padding: 16px 47px 16px 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-6 .u-shape-1 {
    width: 435px;
    height: 454px;
    margin-top: 96px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -490px;
    margin-bottom: 81px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 205px;
  }

  .u-section-6 .u-image-2 {
    min-height: 205px;
  }

  .u-section-6 .u-image-3 {
    min-height: 205px;
  }

  .u-section-6 .u-image-4 {
    min-height: 205px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-6 .u-shape-1 {
    width: 660px;
    height: 601px;
    margin-top: 110px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 674px;
    margin: -651px auto 60px 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 314px;
  }

  .u-section-6 .u-image-2 {
    min-height: 314px;
  }

  .u-section-6 .u-image-3 {
    min-height: 314px;
  }

  .u-section-6 .u-image-4 {
    min-height: 314px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 83px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2562px;
  }

  .u-section-6 .u-shape-1 {
    height: 1992px;
    width: 480px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 493px;
    margin-top: -2042px;
  }

  .u-section-6 .u-image-1 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 460px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 60px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2008px;
  }

  .u-section-6 .u-shape-1 {
    width: 300px;
    height: 1356px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 292px;
    margin-top: -1406px;
    margin-bottom: -33px;
  }

  .u-section-6 .u-image-1 {
    min-height: 347px;
  }

  .u-section-6 .u-image-2 {
    min-height: 347px;
  }

  .u-section-6 .u-image-3 {
    min-height: 347px;
  }

  .u-section-6 .u-image-4 {
    min-height: 347px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 479px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 68px;
    padding-left: 10px;
  }
}
.u-section-7 {
  min-height: 795px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 398px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 60px 80px;
}

.u-section-7 .u-form-1 {
  height: 313px;
  margin: 0 620px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 398px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 60px 80px;
}

.u-section-7 .u-group-1 {
  width: 408px;
  min-height: 452px;
  box-shadow: 5px 5px 20px 0 rgba(107, 71, 72, 0.3);
  margin: -169px 158px 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 168px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  width: 115px;
  margin: 18px auto 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 155px;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  width: 201px;
  margin: 18px auto 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 184px;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  width: 204px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 400;
  margin: -283px 886px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 400;
  margin: 20px 754px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 44px 754px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 36px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 586px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-7 .u-form-1 {
    height: 335px;
    margin-right: 490px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -159px;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: -293px;
    margin-right: 498px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 554px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 432px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 380px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-group-1 {
    width: 318px;
    min-height: 399px;
    margin-top: -106px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 328px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 363px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 306px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-form-1 {
    width: 520px;
    margin-right: 240px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  .u-section-7 .u-group-1 {
    width: 260px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    font-size: 3rem;
    margin-right: 188px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 303px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 43px;
    margin-right: 280px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 901px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-7 .u-group-1 {
    width: 230px;
    margin-top: -95px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -304px;
    margin-right: 8px;
    max-width: 35%;
  }

  .u-section-7 .u-text-8 {
    font-size: 1rem;
    margin-right: 235px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 20px;
    margin-right: 235px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 18px;
  }
}

.no-link {
  color: black;
}

.hide {
  display: none !important;
}

.text-column {
  max-width: 75%;
}
